/* THEME SWITCH */
.themeSwitch {
  display: flex;
  align-items: center;
  transition: color 150ms ease-in 0;
}

.themeSwitch__icon {
  color: currentColor;
  height: 13px;
  margin-right: 2px;
  margin-left: 2px;
}

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: 32px;
  height: 16px;
  border-radius: 50em;
  padding: 3px 0;
}

.switch__input,
.switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.switch__input:checked,
.switch__label {
  background-color: #d3d3d4;
}

.switch__input:checked+.switch__label+.switch__marker {
  left: calc(100% - 14px);
}

.switch__input:focus+.switch__label+.switch__input:active+.switch__label {
  box-shadow: 0 0 0 3px #2a6df433;
}

.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  transition: background-color 150ms;
  cursor: pointer;
}

.switch__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  left: 2px;
  transition: left 200ms;
  will-change: left;
}

/* END THEME SWITCH */

.toolbar {
  display: flex;
  justify-content: flex-end;
  color: #333;

}